@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;700&display=swap');

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: 'Poppins', sans-serif;
}

.bebas {
  font-family: 'Bebas Neue', sans-serif;
}

